{% extends "::layout.html.twig" %}

{% block body %}
    {{ form_start(form,{'attr': {
        "class" : "form-inline"
    }}) }}
    <div class="form-group">
        {{ form_errors(form.name) }}
        {{ form_widget(form.name, {'attr' : {
            'class' : 'form-control',
            'size' : 49,
            'placeholder' : 'Album Name'
        }}) }}
    </div>
    <div class="form-group">
        {{ form_errors(form.file) }}
        {{ form_widget(form.file, {'attr' : {
            'class' : 'form-control',
        }}) }}
    </div><br><br>
    <div class="form-group">
        {{ form_errors(form.description) }}
        {{ form_widget(form.description, {'attr' : {
            'class' : 'form-control',
            'placeholder' : 'Album Description',
            'cols' : 90
        }}) }}
    </div><br><br>
    <button type="submit" class="btn btn-success">Create</button>
    {{ form_end(form) }}
    <br>
    <hr>
    <div class="row">
        <div class="col-lg-12">
            {% if albums is defined %}
                <ul class="photo-container">
                    {% for album in albums %}
                        <li class="photo-list">
                            <div class="row">
                                <div class="col-md-3">
                                    <a href="{{ path('galleries', {'album' : album.id}) }}">
                                        <img class="photo thumbnail" src="{{ asset(album.webPath) }}">
                                    </a>
                                </div>
                                <div class="col-md-9">
                                    <p>
                                        {{ album.description }}
                                    </p>
                                </div>
                                <a href="{{ path('delete', {'album' : album.id}) }}" class="btn btn-sm btn-danger pull-right">Delete</a>
                                <a href="{{ path('upload', {'album' : album.id}) }}"
                                   class="btn btn-sm btn-success pull-right">Upload Photos</a>
                                <br><br>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}